<!DOCTYPE html>
<html lang="en">
<head>  
    <title>BIVIX: Smart, Secure, Yours</title>
</head>
<body>
    <header>
        <h1 class="bivix-name">BIVIX</h1>
    </header>

    <main class="content">
        <section class="container-balance">
            <p class="balance-label">Balance</p>
            <h2 class="balance-amount">AR$ <%= @user.account.balance %></h2>
            <p class="name-user">User: <%= @user.name %> <%= @user.surname %></p>
            <p class="alias">Alias: <%= @account.alias %></p>
        </section>

        <section class="actions">
            <a class="action-button"  href="/profile">
                <img src="assets/profile.png">
                <span class="action-button-text">Profile</span>
            </a>
            <a class="action-button" href="/card">
                <img src="assets/card.png">
                <span class="action-button-text">Card</span>
            </a>
            <a class="action-button" href="/charge-link">
                <img src="assets/link.png">
                <span class="action-button-text">Charge w/ link</span>
            </a>
            <a class="action-button"  href="/charge-qr">
                <img src="assets/qr.png">
                <span class="action-button-text">Charge w/ QR</span>
            </a>
        </section>

<section class="transactions">
  <h3>Latest Transactions</h3>
  <ul>
    <% @movements.each do |mov| %>
      <% amount = mov.amount %>
      <% is_positive = amount >= 0 %>
      <% transaction = mov.bivix_transaction %>
      <% if transaction %>
        <% other_account = (mov.account_id == transaction.source_account_id) ? transaction.target_account : transaction.source_account %>
      <% end %>

      <li>
        <span class="icon"><%= is_positive ? "💵" : "🛒" %></span>
        
        <span class="label">
          <%= is_positive ? "Transfer Received" : "Transfer Sent" %>
        </span>
        <span class="amount <%= is_positive ? "positive" : "negative" %>">
          <%= is_positive ? "+" : "-" %><%= '%.2f' % amount.abs %>
        </span>
      </li>
    <% end %>
  </ul>
</section>
    
  </main>

    <nav class="bottom-navigation-bar">
        <a class="nav-item" href="/history" >
          <img src="assets/history.png" alt="History">
        </a>
        <a class="nav-item nav-item-central" href="/pay-qr" >
          <img src="assets/qr.png" alt="Scan QR">
        </a>
        <a class="nav-item" href="/transfers" >
          <img src="assets/transfer.png" alt="Transfers">
        </a>
    </nav>

</body>