<!DOCTYPE html>
<html lang="en">
<head>
    <title>Transfers</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <header class="page-header">
         <a href="/dashboard" class="header-button back-button">
            &larr; Home <%# &larr is a arrow %>
        </a>
         <h3 id="transfers-title">TRANSFER</h3>
    </header>

    <div class="transfer-form-container">
        <form method="post" id="transfer-form" action="/transfer-success">
            
        <input type="hidden" name="debit_account_id" value="<%= @user.account.id %>">
            <% if @selected_contact_account %>
                <input type="hidden" name="credit_account_id" value="<%= @selected_contact_account.id %>">
            <% end %>


            <div class ="container-transfer">
                <div id = "amount-input"> 
                    <label for="amount">Total</label>
                    <input type="number" id="amount" name="amount" placeholder="$0.00">
                </div> 
            </div>
             
             <div id ="balance-transfer">
                    <p id= "balance-transfer-amount">Balance: AR$<%= @user.account.balance %></p>
                
            </div>   
            
            <div id="debit-contactBook" class="contact-book">
                <label for="debitAccount-select">Debit Account</label> 
                <div class="selected-contact-name">
                    <%= @user.name %> <%= @user.surname %> (You)
                </div>
            </div>
    
          <div id="credit-contactBook" class="contact-book">
                <label for="creditAccount-select">Credit Account</label> 
                <% if @selected_contact_account %>
                    <div class="selected-contact-name">
                        <span class="contact-full-name"><%= @selected_contact_account.user.name %> <%= @selected_contact_account.user.surname %></span>
                        <a href="/select-contact" class="change-link">(Change)</a>
                    </div>
                <% else %>
                    <a href="/select-contact" class="button-link">Select</a>
                <% end %>
            </div>


             <div id="category-transfer" class="category-transfers">
                <label for="category-select">Category</label>
                <select id="category-select" name="category" class="category-dropdown">
                    <option value="others">Others</option>
                    <option value="food">Food & Drinks</option>
                    <option value="transport">Transport</option>
                    <option value="shopping">Shopping</option>
                    <option value="bills">Bills & Utilities</option>
                    <option value="entertainment">Entertainment</option>
                </select>
            </div>
            
            <div class="submit-button-transfer">
                <input type="submit" id="transfer-submit" value="Transfer">
            </div>
        
        </form>
    </div>
</body>
</html>